.banner{
  padding: 160px;
  background-size: cover;
  background-position: center;
}
.container1 {
  color: white;
  margin:0px auto;
  width: 70%;
}
.container1 p{
  color: antiquewhite;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.btn{
  background-color: green;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
}
