.container2{
  text-align: center;
}

.cards{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 300px;
  padding-top: 0px;
}

.cards img{
  width: 250px;

}

.card{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
